:root{
    --main-color: #f9f9f9;
    --second-color: #41A7F5;
    --third-color: #FCDB03;
    --fourth-color: #F44DA9;
    --gradient-color: linear-gradient(90deg, #F44DA9,#FCDB03);
    --shadow-color: #1e1e1e;
    --gray-color: #e5e5e5;
    --second-gray-color: #D9D9D9;
}

body{
    background-color: var(--main-color);
    margin: 0%;
    font-family: "Spline Sans";
}

/*NAV*/

nav{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.7%;
}

.strip_grad{
    width: 30vh;
    height: 3vw;
    background-image: var(--gradient-color);
}


header{
    padding-top: 1%;
    padding-left: 4%;
    padding-bottom: 1%;
    width: 5.2vw;
}


/*SIDEBAR STRUCTURE*/

#sidebar_structure{
    /* background-color: rebeccapurple; */
    width: auto;
    height: 80vh;
    display: flex;
    gap:3vh;
    padding-left: 4%;
}

#sidebar_out{
    width: 18vw;
    height: 56vh;
    border-radius: 20px;
    background-color: var(--second-gray-color);
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sidebar_in{
    width: 15vw;
    height: 50vh;
    background-color: var(--main-color);
    border: var(--shadow-color) 1px solid;
    border-radius: 10px;
    display: inherit;
    justify-content: center;
    align-items: center;
}

#sidebar_board{
    list-style-type: none;
    display: inherit;
    flex-direction: column;
    padding: 7%;
    gap: 2.5vh;
    align-items: start;
}

.sidebar_links{
    margin: 0%;
    padding: 0%;
    display: inherit;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 3vh;
    color: var(--shadow-color);
}

i.boots_icon{
    font-size: 1.35rem;
    color: var(--shadow-color);
    font-weight: 900;
}

a{
    text-decoration: none;
}

main{
    width: auto;
    height: auto;
    gap: 2vh;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    padding-top: 7.1%;
    gap: 2vw;
}

/*SECTION | CONTACT STRUCTURE*/

#contact_border_out{
    background-color: var(--second-gray-color);
    width: 60vw;
    height: 70vh;
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact_border_in{
    background-color: var(--main-color);
    width: 57.5vw;
    height: 65vh;
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 15px;
    display: inherit;
    flex-direction: row;
}

#contact_informations{
    /* background-color:gray; */
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    width: 26vw;
    height: auto;
    display: inherit;
    flex-direction: column;
    padding-left: 3vw;
    justify-content: center;
    gap: 4vh;
}

#contact_title{
    font-size: 2rem;
    font-weight: 500;
    background: var(--gradient-color);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#contact_text{
    color: var(--shadow-color);
    font-size: 1.3rem;
    font-weight: 500;
    text-align: left;
    display: block;
    width: 25vw;
}

#contact_location{
    display: block;
    font-size: 0.9rem;
    width: 25vw;
    color: var(--shadow-color);
    font-weight: 500;
}

.contact_icon_boot{
    color: #0040F0;
    padding-right: 1vh;
    font-size: 1.3rem;
    font-weight: 600;
}

.contact_number{
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--shadow-color);
}

form{
    /* background-color: gray; */
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    width: 24vw;
    height: auto;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3vh;
    gap: 0.5vh;
}

.contact_label{
    font-size: 0.9rem;
    align-self: flex-start;
    padding-left: 2vh;
}

/*name input*/
input[type="text"]{
    height: 5vh;
    width: 24vw;
    border: var(--shadow-color) 0.1vh solid;
    border-radius: 6px;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    color: var(--shadow-color);
    font-family: "Spline Sans";
    font-size: 0.9rem;
}

/*email input*/
input[type="email"]{
    height: 5vh;
    width: 24vw;
    border: var(--shadow-color) 0.1vh solid;
    border-radius: 6px;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    color: var(--shadow-color);
    font-family: "Spline Sans";
    font-size: 0.9rem;

}

/*telephone input*/
input[type="tel"]{
    height: 5vh;
    width: 24vw;
    border: var(--shadow-color) 0.1vh solid;
    border-radius: 6px;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    color: var(--shadow-color);
    font-size: 0.9rem;
    font-family: "Spline Sans";
}

/*message input*/
#contact_message{
    width: 24.3vw;
    border: var(--shadow-color) 0.1vh solid;
    border-radius: 6px;
    height: 15vh;
    resize: none;
    padding: 1.5vh;
    color: var(--shadow-color);
    font-size: 0.9rem;
    font-family: "Spline Sans";
}

button{
    width: 9vw;
    height: 6vh;
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color);
    background-color: var(--second-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 6px;
    margin-top: 2vh;
    box-shadow: var(--shadow-color) 0px 3px 0px -1px;
    display: inherit;
    align-items: center;
    justify-content: center;
}

button:hover{
    transform: translateY(-3px);
    box-shadow: var(--shadow-color) 0px 6px 0px -1px;
    background-color: var(--fourth-color);
    color: var(--shadow-color);
    transition: ease-in-out 0.1s;
}

button:active{
    transform: translateY(3px);
    box-shadow: var(--shadow-color) 0px 0x 0px -1px;
    background-color: var(--third-color);
    color: var(--shadow-color);
}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: row;
    padding-top: 3%;
    height: 10vh;     
    padding-left: 3%;
    justify-content: space-between;
    }

#copy_footer{
    display: inherit;
    column-gap: 2vh;
}

#strip_footer{
    width: 30%;
    height: 1.2vh;
    background-image: var(--gradient-color);
}
