@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root{
    --main-color: #f9f9f9;
    --second-color: #41A7F5;
    --third-color: #FCDB03;
    --fourth-color: #F44DA9;
    --gradient-color: linear-gradient(90deg, #F44DA9,#FCDB03);
    --shadow-color: #1e1e1e;
    --gray-color: #e5e5e5;
    --second-gray-color: #D9D9D9;
}


body{
    margin: 0%;
}

a{
    text-decoration-line: none;
}

/*nav*/

nav{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.7%;
}

/*strips nav*/

.strip_grad{
    width: 30vh;
    height: 3vw;
    background-image: var(--gradient-color);
}

/*header*/

header{
    padding-top: 1%;
    padding-left: 4%;
    padding-bottom: 1%;
    width: 5.2vw;
    height: auto;

}

main{
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    /* align-items: center; */
    font-family: "Spline Sans";
}

.highlight_text{
    color: #E9541E;
}

/*intro*/

#elements_intro{
    padding-top: 3%;
    padding-bottom: 3%;
    width: 60%;
    height: auto;
    display: inherit;
    flex-direction: column;
    align-items: flex-start;
    gap: 5vh;
}

.highlight_titles{
    display: block;
    font-size: 2.2rem;
    font-weight: 600;
    color: #FFA05C;
    -webkit-text-stroke: var(--shadow-color) 0.07vh;
    text-shadow: var(--shadow-color) -1px 1px 0px;
    display: flex;
    align-items: center;
    gap: 2vh;
}

#elements_intro_text{
    display: block;
    font-size: 1.3rem;
    color: var(--shadow-color);
    text-align: justify;
}

/*some examples*/

#board_some_examples{
    width: 53.2vw;
    height: 72vh;
    background-color: var(--second-gray-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
}

#board_tags{
    /* background-color: red; */
    width: 20vw;
    height: 70vh;
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

#board_tags_examples{
    /* background-color: springgreen; */
    width: 30vw;
    height: 70vh;
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.area_tags{
    width: 70%;
    height: 10vh;
    background-color: var(--main-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 4px;
    box-shadow: var(--shadow-color) 0 3px 0px -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--shadow-color);
    padding: 1vh;
}

.area_examples{
    width: 100%;
    height: 10vh;
    background-color: var(--main-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 4px;
    box-shadow: var(--shadow-color) 0 3px 0px -1px;
    font-size: 0.9rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 1vh;
}

h4{
    background: var(--gradient-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: var(--shadow-color) 0.07vh; 
}

h5{
    color: var(--main-color);
    margin: 0%;
}

#block_line_text{
    color: var(--shadow-color);
    font-family: "Spline Sans";
    font-size: 1.3rem;
}

#samples_block-line{
    align-self: flex-start;
    display: flex;
    align-items: center;
    width: auto;
    height: 20vh;
    gap: 2vw;
}

/* sample block */

#block_sample{
    width: 20vw;
    padding: 2vh;
    background-color: var(--main-color);
    box-shadow: var(--second-gray-color) 0 0 0 1.5vh;
    border-radius: 4px;
    display: inherit;
    align-items: center;
    justify-content: center;
    gap: 1.5vh;
}

#block_square{
    display: block;
    width: 4vh;
    height: 4vh;
    border-radius: 4px;
    background-color: var(--second-color);
}

/* sample line */

#line_sample{
    width: 20vw;
    padding: 2vh;
    background-color: var(--main-color);
    box-shadow: var(--second-gray-color) 0 0 0 1.5vh;
    border-radius: 4px;
    display: inherit;
    align-items: center;
    justify-content: center;
    gap: 1.5vh;
}

#line_square{
    display: block;
    width: 4vh;
    height: 4vh;
    border-radius: 4px;
    background-color: var(--fourth-color);
}

/* sample inline-block */

#inline-block_sample{
    width: 20vw;
    padding: 2vh;
    background-color: var(--main-color);
    box-shadow: var(--second-gray-color) 0 0 0 1.5vh;
    border-radius: 4px;
    display: inherit;
    align-items: center;
    justify-content: center;
    gap: 1.5vh;
}

#inline-block_square{
    display: block;
    width: 4vh;
    height: 4vh;
    border-radius: 4px;
    background-color: var(--third-color);
}

#sample_text{
    /* background-color: magenta; */
    width: 70vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    padding-left: 1vw;
}

.sample_text_example{
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
     align-items: center;
    gap: 1vh;
    font-weight: 500;
    color: var(--shadow-color);
}

#card_examples_tags{
    /* background-color: orange; */
    width: 70vw;
    height: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vh;
    display: flex;
    justify-content: flex-start;
    gap: 3vw;
}

.card_example_structure{
    width: auto;
    height: auto;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--shadow-color);
}

.card_tags_area{
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 10px;
    box-shadow: var(--second-gray-color) 0 0 0 2vh;
    width: 15vw;
    height: 32vh;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.card_tags{
    color: var(--main-color);
    -webkit-text-stroke: var(--shadow-color) 0.1vh;
    text-shadow: var(--shadow-color) -1px 1px 0px;
}

#phrase_end_card{
    font-size: 1.3rem;
    display: block;
    width: 70vw;
    height: auto;
}

#organization_board_structure{
    background-color: var(--second-gray-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 15px;
    width: 65vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#organization_inner_board{
    background-color: var(--main-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 10px;
    width: 63vw;
    height: 56vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.organization_elements_block_inline{
    /* background-color: greenyellow; */
    width: 29vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

#organization_div{
    border: solid 0.5vh;
    border-image: var(--gradient-color) 1;
    width: 28vw;
    height: 24vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

#org_div_title{
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
}

#org_div_tag{
    display: block;
    border: blue solid 1vh;
    color: var(--main-color);
    -webkit-text-stroke: var(--shadow-color) 0.07vh;
    text-shadow: var(--shadow-color) -1px 1px 0px;
    font-size: 1.2rem;
    width: 5vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;   
}

#org_effect_div{
    /* background-color: red; */
    display: block;
    width: 7vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#effect_div_text{
 
    display: block;
    height: 3vh;
    width: 7vw;
    margin: 0%;
    padding: 0%;

}

.check_icon{
     color: springgreen;
    font-size: 2rem;
    font-weight: 600;
    margin: 0%;
    padding: 0%;
}


#organization_strong{
    border: solid 0.5vh;
    border-image: var(--gradient-color) 1;
    width: 28vw;
    height: 24vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

#org_effect_strong{
    /* background-color: red; */
    display: block;
    width: 28vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

#org_strong_title{
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    /* background-color: springgreen; */
    width: 8vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1vh;
}

#org_strong_tag{
    display: block;
    border: var(--fourth-color) solid 1vh;
    color: var(--main-color);
    -webkit-text-stroke: var(--shadow-color) 0.07vh;
    text-shadow: var(--shadow-color) -1px 1px 0px;
    font-size: 1.2rem;
    width: 20vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;   
}

#effect_strong_text{
    display: block;
    height: 3vh;
    width: 10vw;
    margin: 0%;
    padding: 0%;
}

.check_icon{
    color: springgreen;
    font-size: 1.5rem;
    font-weight: 600;
}

.x_icon{
    color: red;
    font-size: 1.5rem;
    font-weight: 600;
}

#strong_text{
    padding-left: 1vh;
    padding-right: 1vh;
    color: var(--shadow-color); 
    text-shadow: none;
}

#organization_span{
    border: solid 0.5vh;
    border-image: var(--gradient-color) 1;
    width: 28vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

#org_effect_span{
    /* background-color: red; */
    display: block;
    width: 28vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    padding-left: 4vw;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

#org_span_title{
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    /* background-color: springgreen; */
    width: 8vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1vh;
}

#org_span_tag{
    display: block;
    border: var(--third-color) solid 1vh;
    color: var(--main-color);
    -webkit-text-stroke: var(--shadow-color) 0.07vh;
    text-shadow: var(--shadow-color) -1px 1px 0px;
    font-size: 1.2rem;
    width: 20vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;   
}

#effect_span_text{
    display: block;
    height: 3vh;
    width: 10vw;
    margin: 0%;
    padding: 0%;
}

.check_icon{
    color: springgreen;
    font-size: 1.5rem;
    font-weight: 600;
}

.x_icon{
    color: red;
    font-size: 1.5rem;
    font-weight: 600;
}

#org_span_tag{
    padding-left: 1vh;
    padding-right: 1vh;
    color: var(--shadow-color); 
    text-shadow: none;
}

#text_inner_span{
    color: var(--shadow-color);
    padding-left: 1vh ;
    padding-right: 1vh ;
}

/*semantic*/

#semantic_structure{
    /* background-color: red; */
    width: 70vw;
    height: auto;
    padding-bottom: 5vh;
}

#semantic_text{
    color: var(--shadow-color);
    font-size: 1.3rem;
    width: 100%;
    height: auto;
}

#semantic_examples{
    /* background-color: springgreen; */
    width: 70vw;
    height: auto;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.semantic_example_area{
    /* background-color: red; */
    width: 60vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}

.semantic_tag{
    display: block;
    width: 10vw;
    height: 8vh;
    border: var(--shadow-color) solid 0.1vh;
    box-shadow: var(--shadow-color) -1px 1px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    text-shadow: var(--shadow-color) -2px 2px 0px;
    -webkit-text-stroke: var(--shadow-color) 0.07vh;
    font-size: 1.4rem;
    font-weight: 700;
}

.equal_signal{
    font-size: 5rem; 
    color: var(--main-color);
    text-shadow: var(--shadow-color) -2px 2px 0px;
    -webkit-text-stroke: var(--shadow-color) 0.2vh;
}

.semantic_explaination{
    width: 40vw;
    font-size: 1rem;
    color: var(--shadow-color);
}

#phrase_middle_semantic{
    display: block;
    color: var(--shadow-color);
    font-size: 1.3rem;
    width: 70vw;
    height: auto;
    padding-top: 7vh;
    padding-bottom: 5vh;
}


#comparation_semantic_code{
    /* background-color: lawngreen; */
    width: 70vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.comparation_code{
    /* background-color: rebeccapurple; */
    width: 30vw;
    height: 50vh;
      display: flex;
      flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comparation_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    color: var(--shadow-color);
    font-weight: 500;
}

.code_example_border_out{
    background-color: var(--second-gray-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28vw;
    height: 30vh;
}

.code_example_border_inner{
    display: block;
    background-color: var(--main-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;  
    width: 26vw;
    height: 26vh;
}

.code_tag_pink-1{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--main-color);
    -webkit-text-stroke: var(--shadow-color) 0.1vh;
    text-shadow: var(--shadow-color) -1px 1px 0px;
    padding-left: 2vw;
    padding-top: 0.5vw;
}

.code_tag_blue-1{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--main-color);
    -webkit-text-stroke: var(--shadow-color) 0.1vh;
    text-shadow: var(--shadow-color) -1px 1px 0px;
    padding-left: 4vw;
}

.code_tag_red-1{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--main-color);
    -webkit-text-stroke: var(--shadow-color) 0.1vh;
    text-shadow: var(--shadow-color) -1px 1px 0px;
    padding-left: 4vw;
}

.code_tag_yellow-1{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--main-color);
    -webkit-text-stroke: var(--shadow-color) 0.1vh;
    text-shadow: var(--shadow-color) -1px 1px 0px;
    padding-left: 6vw;
}

.code_tag_pink-2{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--main-color);
    -webkit-text-stroke: var(--shadow-color) 0.1vh;
    text-shadow: var(--shadow-color) -1px 1px 0px;
    padding-left: 2vw;
}

.code_tag_pink-2{
    display: flex;
    align-items: center;
}

.code_example_text_pink{
    color: var(--fourth-color);
    margin: 0%;
}

.code_example_text_blue{
    color: var(--second-color);
    margin: 0%;
}

.code_example_text_red{
    color: #E9541E;
    margin: 0%;
}

.code_example_text_yellow{
    color: var(--third-color);
    margin: 0%;
}


#phrase_end_semantic{
    color: var(--shadow-color);
    font-size: 1.3rem;
    width: 70vw;
}


.code_tag_inner_text{
    margin: 0%;
    color: var(--shadow-color);
    text-shadow: none;
    font-size: 1.1rem;
    padding-right: 1vh;
    padding-left: 1vh;
}

#end_phrase_semantic{
    display: block;
    color: var(--shadow-color);
    font-size: 1.3rem;
    width: 70vw;
    height: auto;
    padding-top: 7vh;
    padding-bottom: 5vh;   
}


#sect_final{
    display: flex;
    justify-content: center;
    width: 70vw;
    padding-bottom: 10vh;
    height: auto;
}

#button_return{
    border: var(--shadow-color) solid 0.1vh;
    background-color: var(--second-color);
    box-shadow: var(--shadow-color) 0 2px 0px;
    width: 10vw;
    height: 10vh;
    border-radius: 15px;
    color:var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Spline Sans";
    letter-spacing: 0.1vh;
}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: row;
    height: 10vh;     
    padding-left: 3%;
    justify-content: space-between;
    z-index: -1;
}

#copy_footer{
    display: inherit;
    column-gap: 2vh;
}

#strip_footer{
    width: 30%;
    height: 1.2vh;
    background-image: var(--gradient-color);
}

ul{
    cursor: pointer;
    display: flex;
    align-items: center;
    align-items: center;
    gap: 3vh;
    color: var(--shadow-color);
}

a{
    text-decoration-line: none;
}