@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root{
    --main-color: #f9f9f9;
    --second-color: #41A7F5;
    --third-color: #FCDB03;
    --fourth-color: #F44DA9;
    --gradient-color: linear-gradient(90deg, #F44DA9,#FCDB03);
    --shadow-color: #1e1e1e;
    --gray-color: #e5e5e5;
    --second-gray-color: #D9D9D9;
}

body{
    background-color: var(--main-color);
    margin: 0%;
    font-family: "Spline Sans";
}

/*NAV*/

nav{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.7%;
}

/*STRIPS NAV*/

.strip_grad{
    width: 30vh;
    height: 3vw;
    background-image: var(--gradient-color);
}

/*HEADER*/

header{
    padding-top: 1%;
    padding-left: 4%;
    padding-bottom: 1%;
    width: 5.2vw;
    height: auto;
}

/*MAIN*/

main{
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 4%;
    /* background-color: blue; */
}

#title_user{
    display: inherit;
    flex-direction: column;
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    padding-left: 25%;
    padding-bottom: 1.9%;
}

#hello_user{
    display: inherit;
    flex-direction: row;
    align-items: baseline;
    width: auto;
    height: auto;
    font-size: 4vw;
    font-weight: 500;
}

#hello_span{
    font-weight: 400;
}

#user_span{
    color: var(--second-color);
    -webkit-text-stroke: #1e1e1e 0.1vh;
}

#bar_grad{
    width: 23.5vw;
    height: 0.7vh;
    background-image: var(--gradient-color);
    border-radius: 5px;
}

/*SECTION*/

section{
    display: inherit;
    flex-direction: row;
    padding-left: 4%;
}

/*SIDEBAR*/

#sidebar_structure{
    /* background-color: rebeccapurple; */
    width: 20vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    
}

#sidebar_out{
    width: 18vw;
    height: 56vh;
    border-radius: 20px;
    background-color: var(--second-gray-color);
    display: inherit;
    align-items: center;
    justify-content: center;
}

#sidebar_in{
    width: 15vw;
    height: 50vh;
    background-color: var(--main-color);
    border: var(--shadow-color) 1px solid;
    border-radius: 10px;
    display: inherit;
    justify-content: center;
    align-items: center;
}

#sidebar_board{
    list-style-type: none;
    display: inherit;
    flex-direction: column;
    gap: 2.5vh;
    padding: 7%;
    align-items: start;
}

.sidebar_links{ 
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 3vh;
    color: var(--shadow-color);
}

i.boots_icon{
    font-size: 1.35rem;
    color: var(--shadow-color);
    font-weight: 900;
}

a{
    display: flex;
    text-decoration: none;
}

#account_card_out{
    width: 18vw;
    height: 20vh;
    background-color: var(--second-gray-color);
    border-radius: 20px;
    display: inherit;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5vh;
}

#button_account{
    width: 15vw;
    height: 10vh;
    background-color: var(--second-color);
    border: var(--shadow-color) solid 1px;
    border-radius: 15px;
    box-shadow: var(--shadow-color) 0px 3px 0px -1px;
    display: inherit;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

#button_account:hover{
    transform: translateY(-3px);
    box-shadow: var(--shadow-color) 0px 6px 0px -1px;
    transition: ease-in-out 0.1s;
    background-color: var(--fourth-color);
    color: var(--main-color);
}

#button_account:active{
    transform: translateY(3px);
    box-shadow: var(--shadow-color) 0px 0px 0px -1px;
    background-color: var(--third-color);
    color: var(--shadow-color);
}
#icon_account{
    width: 3.5vw;
    height: 3.5vw;
    /* background-color: red; */
}

#info_account{
    width:auto;
    height:5vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#title_account_span{
    font-size: 3vh;
    color: var(--main-color);
}

#email_account_span{
    color: var(--shadow-color);
    font-weight: 500;
    font-size: small;
    font-family: "Spline Sans";
}

#title_below_account{
    font-size: 1.5vw;
    font-weight: 600;
    color: var(--shadow-color);
}

/*BOARD*/

#board_structure{
    /* background-color: greenyellow; */
    width: 50vw;
    height: 95vh;
    display: inherit;
    flex-direction: column;
    /* align-items: center; */
    gap: 2%;
}

#board_out{
    width: 48vw;
    height: 44vh;
    background-color: var(--second-gray-color);
    border: var(--shadow-color) 0.01vh solid;
    border-radius: 20px;
    display: inherit;
    flex-direction: column;
    align-items: center;
    padding-top: 0.6vw;
    gap: 1vh;
    box-shadow: var(--shadow-color) 0px 5px 0px -3px;
}

#title_activity{
    font-size: 1.6vw;
    font-weight: 500;
    align-self: flex-start;
    padding-left: 5vh;
}

#board_in{
    width: auto;
    height: auto;
    border-radius: 15px;
    display: inherit;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;

}

#last_activity_line{
    width: 42vw;
    height: 6vh;
    background-color: var(--second-color);
    border: var(--shadow-color) 0.01vh solid;
    border-radius: 8px;
    font-size: 1.2vw;
    display: inherit;
    align-items: center;
    padding-left: 2vh;
    color: var(--main-color);
    font-weight: 500;
}

.activity_line{
    width: 42vw;
    height: 6vh;
    background-color: var(--gray-color);
    border: var(--shadow-color) 0.01vh solid;
    border-radius: 8px;
    font-size: 1.2vw;
    display: inherit;
    align-items: center;
    padding-left: 2vh;
    color: var(--main-color);
    font-weight: 500;
}

#board_out_leader{
    width: 48vw;
    height: 44vh;
    background-color: var(--second-gray-color);
    border: var(--shadow-color) 0.01vh solid;
    border-radius: 20px;
    display: inherit;
    flex-direction: column;
    align-items: center;
    padding-top: 0.6vw;
    gap: 1vh;
    box-shadow: var(--shadow-color) 0px 5px 0px -3px;
}

#title_leader{
    font-size: 1.4vw;
    font-weight: 500;
    align-self: flex-start;
    padding-left: 5vh;
}

#board_in{
    width: 45vw;
    height: 33vh;
    background-color: var(--main-color);
    border: var(--shadow-color) 0.01vh solid;
    border-radius: 15px;
    display: inherit;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    gap: 1vh;
    overflow-y: auto;
    scrollbar-width: auto;
    scroll-snap-type:mandatory;
    scroll-behavior: smooth;
}

#info_position{
    width: 42vw;
    height: 6vh;
    background-color: var(--second-color);
    border: var(--shadow-color) 0.01vh solid;
    border-radius: 8px;
    font-size: 1.2vw;
    display: inherit;
    align-items: center;
    padding-left: 2vh;
    color: var(--main-color);
    font-weight: 500;
}

#position_title{
    color: var(--shadow-color);
    font-size: 1.1vw;
    /* background-color: red; */
    width: 5vw;
    padding-left: 2vh;
}

#discent_title{
    color: var(--shadow-color);
    font-size: 1.1vw;
    padding-left: 4vh;
    /* background-color:yellow; */
    width:20vw;
}

#note_title{
    color: var(--shadow-color);
    font-size: 1.1vw;
    /* background-color: blueviolet; */
    width: 8vw;
}

#points_title{
    color: var(--shadow-color);
    font-size: 1.1vw;
    /* background-color: greenyellow; */
}

#position_leader{
    color: var(--shadow-color);
    font-size: 1.2vw;
    /* background-color: red; */
    width: 4.5vw;
    padding-left: 3.2vh;
    font-weight: 700;
}

.position{
    color: var(--shadow-color);
    font-size: 1.1vw;
    /* background-color: red; */
    width: 4.5vw;
    padding-left: 3.2vh;
    font-weight: 700;
}

.discent{
    color: var(--shadow-color);
    font-size: 2.3vh;
    padding-left: 4vh;
    /* background-color:yellow; */
    width:20vw;
}

.note{
    color: var(--shadow-color);
    font-size: 2.3vh;
    /* background-color: blueviolet; */
    width: 8vw;
}

.points{
    color: var(--shadow-color);
    font-size: 2.3vh;
    /* background-color: greenyellow; */
}

.activity_line{
    width: 42vw;
    height: 6vh;
    background-color: var(--gray-color);
    border: var(--shadow-color) 0.01vh solid;
    border-radius: 8px;
    font-size: 1.2vw;
    display: inherit;
    align-items: center;
    padding-left: 2vh;
    color: var(--main-color);
    font-weight: 500;
}

/*LEVELING STRUCTURE CARDS*/

#leveling_structure{
    /* background-color: cyan; */
    width: 23vw;
    height: 70vh;
    display: inherit;
    /* align-items: center; */
    flex-direction: column;
    gap: 2vw;
}

#level_card_out{
    background-color: var(--second-gray-color);
    width: 21vw;
    height: 32vh;
    border-radius: 20px;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

#level_card_in{
    background-color: var(--main-color);
    width: 18vw;
    height: 18vh;
    border-radius: 10px;
    border: var(--shadow-color) 0.01vh solid;
    display: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.leveling_content{
    /* border: red solid 1px; */
    width: 7.5vw;
    height: 7.5vw;
    font-family: "Spline Sans";
    font-size: 1.5vw;
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#divisory_line{
    height: 5vw;
    width: 0.1vh;
    background-color: var(--shadow-color);
}

#position_rank{
    font-weight: 400;
    font-size: 2.5vw;
}

#position_rank_title{
    font-size: small;
    font-weight: 400;
}

#title_rank{
    background-image: linear-gradient(to right, #0040F0, #0032DB, #00258A);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*PROGRESS BAR*/

#progress_bar{
    width: 17vw;
    background-color: var(--main-color);
    padding: 1vh;
    border: var(--shadow-color) 0.01vh solid;
    border-radius: 10px;
}

progress{
    overflow-y: auto;
    height: 4vh;
    width: 17vw;
    border: var(--shadow-color) 0.01vh solid;
    border-radius: 6px;
}

progress[value]::-webkit-progress-value{
    background-image: var(--gradient-color);
    border-right:0.01vh solid var(--shadow-color) ;
    border-radius: 4px;
}

progress::-webkit-progress-bar{
    background-color: #D9D9D9;
}

/*EXERCICES CARD*/

#exercices_card_out{
    background-color: var(--second-gray-color);
    width: 21vw;
    height: 12vw;   
    border: var(--shadow-color) solid 0.01vh;
    border-radius: 20px;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    box-shadow: var(--shadow-color) 0px 3px 0px -2px;
}

#exercices_title{
    font-size: 1.2vw;
    font-weight: 400;
    align-self: flex-start;
    padding-left: 1.5vw;
}

#exercice_img{
    border: var(--shadow-color) solid 0.01vh;
    width: 18vw;
    height: 8vw;
    background-color: var(--main-color);
    border-radius: 10px;
}

/*FOOOTER*/

footer{
    display: flex;
    flex-direction: row;
    height: 10vh;     
    padding-left: 3%;
    justify-content: space-between;
}

#copy_footer{
    display: inherit;
    column-gap: 2vh;
}

#strip_footer{
    width: 30%;
    height: 1.2vh;
    background-image: var(--gradient-color);
}
