    :root{
        --main-color: #f9f9f9;
        --second-color: #41A7F5;
        --third-color: #FCDB03;
        --fourth-color: #F44DA9;
        --gradient-color: linear-gradient(90deg, #F44DA9,#FCDB03);
        --shadow-color: #1e1e1e;
    }

body{
    
    background-color: var(--main-color); 
    display: flex;
    flex-direction: column;
    gap: 12vh;
    margin: 0%;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

header{
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1.3%;
    width: 96%;
    height: auto;
}

#logo{
    width: 2.7vw;
    height: 2.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #1e1e1e solid 1px;
    padding: 2.5vh;
    border-radius: 10px;
    box-shadow: #1e1e1e -2px 2px 0px ;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;

}

/*STRIPS*/


#strips_divisions{
    width:32%;
    height: auto;
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    z-index: -1;
}

#sub_blue{
    background-color: var(--second-color);
    width: auto;
    height: 20vh;
    border: #1e1e1e 0.01vh solid;
    border-bottom-width: 0vh;
    border-right-width: 0vh;
}

#sub_gradient{
    background-image: var(--gradient-color);
    width: auto;
    height: 15vh;
    border: #1e1e1e 0.01vh solid;
    border-right-width: 0vh;

}

/*FORM*/

form{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 0.2%;
    border: #1e1e1e solid 1px;
    width: 32%;
    height: 65vh;
    border-radius: 20px;
    color: var(--shadow-color);
}

strong{
    font-size: 2.5vw;
    padding-left: 8%;
}

label{
    display: inherit;
    padding-left: 8%;
    font-weight: 600;
}

/*INPUTS*/

input{
    border: #1e1e1e 0.01vh solid;
    width: 78%;
    height: 7.5vh;
    border-radius: 5px;
    background-color: #e5e5e5;
    align-self: center;
 }

input[type="email"]{
    font-size: 3vh;
    padding-left: 3%;
    color: var(--shadow-color);
}

input[type="password"]{
    font-size: 3vh;
    padding-left: 2.5%;
    color: var(--shadow-color);
}

button{
    font-family: "Spline Sans";
    font-size: 2vw;
    font-weight: 500;
    text-shadow: #f9f9f9;
    width: 40%;
    height: 8vh;
    border: #1e1e1e 0.01vh solid   ;
    border-radius: 8px;
    background-color: var(--second-color);
    align-self: center;    
    box-shadow: #1e1e1e -2px 3px 0px;
    cursor: pointer;
}

button:hover{
    transform: translateY(-3px);
    box-shadow: var(--shadow-color) -2px 6px 1px;
    transition: ease-in-out 0.1s;
    background-color: var(--fourth-color);
    color: var(--main-color);
}

button:active{
    transform: translateY(4px);
    box-shadow: var(--shadow-color) 0px 0px 1px;
    background-color: var(--third-color);
    color: var(--shadow-color);
}

p{
    display: inherit;
    align-self: center;
    column-gap: 1vh;
    font-weight: 500;
}

a{
    color: #41A7F5;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#access{
    color: var(--main-color);
}

footer{
    display: flex;
    flex-direction: row;
    height: 10vh;     
    padding-left: 3%;
    justify-content: space-between;
}

#copy_footer{
    display: inherit;
    column-gap: 2vh;
}

#strip_footer{
    width: 30%;
    height: 1.2vh;
    background-image: var(--gradient-color);
}