:root{
    --main-color: #f9f9f9;
    --second-color: #41A7F5;
    --third-color: #FCDB03;
    --fourth-color: #F44DA9;
    --gradient-color: linear-gradient(90deg, #F44DA9,#FCDB03);
    --shadow-color: #1e1e1e;
    --gray-color: #e5e5e5;
    --second-gray-color: #D9D9D9;
}

body{
    background-color: var(--main-color);
    margin: 0%;
    font-family: "Spline Sans";
}

/*NAV*/

nav{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.7%;
}

.strip_grad{
    width: 30vh;
    height: 3vw;
    background-image: var(--gradient-color);
}

header{
    padding-top: 1%;
    padding-left: 4%;
    padding-bottom: 1%;
    width: 5.2vw;
}

main{
     width: auto;
    height: auto;
    display: flex;
    gap: 4vh;
    /* background-color: blue; */
    display: flex;
    padding-top: 7.1%;
    flex-direction: row;
}

/*SIDEBAR*/

#sidebar_structure{
    width: auto;
    height: 60vh;
    display: flex;
    gap: 3vh;
    padding-left: 4%;
}

#sidebar_out{
    width: 18vw;
    height: 56vh;
    border-radius: 20px;
    background-color: var(--second-gray-color);
    display: inherit;
    align-items: center;
    justify-content: center;
}

#sidebar_in{
    width: 15vw;
    height: 50vh;
    background-color: var(--main-color);
    border: var(--shadow-color) 1px solid;
    border-radius: 10px;
    display: inherit;
    justify-content: center;
    align-items: center;
}

#sidebar_board{
    list-style-type: none;
    display: inherit;
    flex-direction: column;
    gap: 2.5vh;
    padding: 7%;
    align-items: start;
}

.sidebar_links{
    display: flex;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
    gap: 3vh;
    color: var(--shadow-color);
}

i.boots_icon{
    font-size: 1.35rem;
    color: var(--shadow-color);
    font-weight: 900;
    list-style-type: none;
}

a{
    text-decoration: none;
}

/*SECTION INFO USER*/

#user_info-section{
    width: 58vw;
    height:56vh;
    background-color: var(--second-gray-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 20px;
    display: inherit;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

#img_edit{
    width: 20vw;
    height: 48vh;
    border-radius: 15px;
    border: var(--shadow-color) solid 0.1vh;
    display: inherit;
    flex-direction: column;
}

img{
    width: 20vw;
    height: 44vh;
}

#file_upload{
    background-color: var(--second-color);

}

#user_informations{
    width: 32vw;
    height: 48vh;
    border-radius: 15px;
    border: var(--shadow-color) solid 0.1vh;
    background-color: var(--main-color);
    padding-top: 1%;
    display: inherit;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
}

#title_user_name{
    font-size: 1.6rem;
    font-weight: 500;
    background-image: var(--gradient-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 5%;
    align-self: self-start;
}

/*INFO USER FIELDS*/

#info_user_fields{
    list-style: none;
    width: 32vw;
    height: 38vh;
    display: inherit;
    flex-direction: column;
    gap: 1vh;
    padding-left: 7%;
    /* justify-content: flex-start; */
}

/*LEVEL LINE*/

#level{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--shadow-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 5px;
    background-color: var(--main-color);
    width: 8vw;
    height: 7vh;
    font-size: 1.5rem;
    font-weight: 500;
}

/*ACTIVITIES CARRIED OUT*/

#activities_carried_out{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--shadow-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 5px;
    background-color: var(--main-color);
    width: 25.5vw;
    height: 7vh;
    gap: 1vh;
} 

#number_activities_carried_out{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--shadow-color);
    background-color: var(--second-color);
    width: 4vw;
    height: 5vh;
    display: inherit;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

/*SCORES LINE*/

#score{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--shadow-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 5px;
    background-color: var(--main-color);
    width: 15.6vw;
    height: 7vh;
    gap: 1vh;
}

#number_score{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--shadow-color);
    background-color: var(--second-color);
    width: 8vw;
    height: 5vh;
    border-radius: 5px;
}

/*COURSE LINE*/

#course{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--shadow-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 5px;
    background-color: var(--main-color);
    width: 27.8vw;
    height: 7vh;
    gap: 1vh;
}

#course_type{
    background-color: var(--second-color);
    width: 23vw;
    height: 5vh;
    display: inherit;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#rank_position{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--shadow-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 5px;
    background-color: var(--main-color);
    width: 18.5vw;
    height: 7vh;
    gap: 1vh;
}

#rank_position_type{
    background-color: var(--second-color);
    width: 8vw;
    height: 5vh;
    display: inherit;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#achieviments{
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 5px;
    background-color: var(--main-color);
    width: 31vw;
    height: 5vh;
    padding-left: 1vw;
}

a{
    display: flex;
    gap: 1vh;
    text-decoration-line: none;
    color: var(--shadow-color);
}

i.boots_icon{
    color:#1e1e1e;
     font-size: 1.35rem;
}

#edit_card_user_info{
    width: auto;
    height: 45vh;
    padding-left: 4%;
}

#card_user_edit{
    background-color: var(--second-gray-color);
    width: 43vw;
    height: 32vh;
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
}

/*SUPERIOR FIELDS NAME AND TELEPHONE*/

#fields_edit_user_up{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2vh;
    padding-left: 4%;
}

/*NAME FIELD*/

#field_user_name_edit{
    list-style-type: none;    
    display: flex;
    flex-direction: column;
    gap: 0.7vh;
}

#full_name_title{
    color: var(--shadow-color);
    font-weight: 500;
}

#field_user_name{
    width: 25vw;
    height: 8vh;
    background-color: var(--main-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 8px;
    color:var(--shadow-color);
}

input[type="text"]::-webkit-input-placeholder{
    padding-left: 4%;
    font-size: 1.1vw;
}

/*TELEPHONE FIELD*/

#field_user_tel_edit{
    list-style-type: none; 
    display: flex;
    flex-direction: column;
    gap: 0.7vh;
}

#title_telephone{
    color: var(--shadow-color);
    font-weight: 500;
}

#field_user_tel{
    width: 13vw;
    height: 8vh;
    background-color: var(--main-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 8px;
    color: #1e1e1e;
}

input[type="tel"]::-webkit-input-placeholder{
    padding-left: 7%;
    font-size: 1.1vw;
}

/*INFERIOR FIELD EMAIL, AGE AND BUTTONS*/

#fields_edit_user_down{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    padding-left: 3.7%;
    gap: 2.5vh;
}

/*EMAIL FIELD*/

#field_user_email_edit{
    list-style-type: none;    
    display: flex;
    flex-direction: column;
    gap: 0.7vh;
}

#title_email_edit{
    color: var(--shadow-color);
    font-weight: 500;
}

#field_user_email{
    width: 20vw;
    height: 8vh;
    background-color: var(--main-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 8px;
    color: var(--shadow-color);
}

input[type="email"]::-webkit-input-placeholder{
    padding-left: 4%;
    font-size: 1.1vw;
}

/*AGE FIELD*/

#field_age_edit{
    list-style-type: none;    
    display: flex;
    flex-direction: column;
    gap: 0.7vh;
    padding-left: 0.5vh;
}

#title_age{
    color: var(--shadow-color);
    font-weight: 500;
}

#field_age{
    width: 4vw;
    height: 8vh;
    background-color: var(--main-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 8px;
    color: var(--shadow-color);
}

/*BUTTONS EDIT*/

#field_buttons_edit{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 0.5vh;
    gap: 1vh;
}

#save_button{
    width: 8vw;
    height: 8vh;
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 8px;
    box-shadow: var(--shadow-color) 0px 3px 0px -1px;
    font-size: 1.5vw;
    font-weight: 600;
    color: var(--shadow-color);
    background-color: var(--second-color);
}

#save_button:hover{
    transform: translateY(-3px);
    box-shadow: var(--shadow-color) 0px 6px 0px -1px;
    background-color: var(--fourth-color);
    color: var(--main-color);
    transition: ease-in-out 0.1s;
}

#save_button:active{
    transform: translateY(3px);
    box-shadow: var(--shadow-color) 0px 1px 0px -1px;
    background-color: var(--third-color);
    color: var(--shadow-color);
}


#edit_button{
    width: 4vw;
    height: 8vh;
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 8px;
    box-shadow: var(--shadow-color) 0px 3px 0px -1px;
}

#edit_button:hover{
    transform: translateY(-3px);
    box-shadow: var(--shadow-color) 0px 6px 0px -1px;
    background-color: var(--fourth-color);
    color: var(--main-color);
    transition: ease-in-out 0.1s;
}

#edit_button:active{
    transform: translateY(3px);
    box-shadow: var(--shadow-color) 0px 1px 0px -1px;
    background-color: var(--third-color);
    color: var(--shadow-color);
}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: row;
    height: 10vh;     
    padding-left: 3%;
    justify-content: space-between;
}

#copy_footer{
    display: inherit;
    column-gap: 2vh;
}

#strip_footer{
    width: 30%;
    height: 1.2vh;
    background-image: var(--gradient-color);
}

ul{
    cursor: pointer;
    display: flex;
    align-items: center;
    align-items: center;
    gap: 3vh;
    color: var(--shadow-color);
}

a{
    text-decoration-line: none;
}