:root{
    --main-color: #f9f9f9;
    --second-color: #41A7F5;
    --third-color: #FCDB03;
    --fourth-color: #F44DA9;
    --gradient-color: linear-gradient(90deg, #F44DA9,#FCDB03);
    --shadow-color: #1e1e1e;
    --gray-color: #e5e5e5;
}

body{
    display: flex;
    flex-direction: column;
    gap: 6vh;
    margin: 0%;
    scroll-behavior: smooth;
    background-color: var(--main-color);
}

header{
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1.3%;
    width: 96%;
    height: auto;
}

#logo{
    width: 2.7vw;
    height: 2.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #1e1e1e solid 1px;
    padding: 2.5vh;
    border-radius: 10px;
    box-shadow: #1e1e1e -2px 2px 0px ;
}

main{
    display: inherit;
    flex-direction: row;
    padding-right: 2%;
    width: 93%;
    padding-top: 1%;
    height: auto;
}

/*ASIDE TEXT*/

aside{
    width: 50%;
    height: 80vh;
    padding-top: 6%;
    display: inherit;
    flex-direction: column;
}

#line_blue{
    width: 60%;
    height: 0.8vh;
    display: inherit;
    align-self: center;
    border: 1px solid var(--shadow-color);
    border-radius: 4px; 
    background-color: var(--second-color);
}

/*TEXT ASIDE*/

#text_aside{
    padding-top: 10%;
    padding-bottom: 5%;
    display: inherit;
    flex-direction: column;
    align-self: center;
    gap: 2vh;
    width: auto;
    height: 30vh;
}

#text_asd_1{
    font-size: 2.8vw;
    font-weight: 500;
}

#text_asd_2{
    font-weight: 400;
    font-size: 2vw;
}

#gradient_text{
    background: var(--gradient-color);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 4.2vw;
}

#line_gradient{
    display: inherit;
    align-self: center;
    width: 60%;
    height: 0.8vh;
    border: 1px solid var(--shadow-color);
    border-radius: 4px; 
    background-image: var(--gradient-color);
}

/* STRIPS */

section{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
}

#blue_strip{
    background-color: var(--second-color);
    width: 100%;
    height: 10vh;
    border: #1e1e1e 0.01vh solid;
    border-bottom-width: 0vh;
    border-right-width: 0vh;
}

#gradient_strip{
    background-image: var(--gradient-color);
    width: 100%;
    height: 5vh;
    border: #1e1e1e 0.01vh solid;
    border-right-width: 0vh;
}

/* FORM */

form{
    background-color: var(--main-color);
    width:30%;
    height: 87vh;
    border: var(--shadow-color) 0.01vh solid;
    border-radius: 15px;
    box-shadow: var(--shadow-color) 0px 7px 0px -4px;
    display: inherit;
    flex-direction: column;    
    gap: 2vh;
    padding-left: 3.5vW;
    padding-right: 3.5vW;
    padding-top: 3.5vh;
}

strong{
    font-size: 2.1vw;
    font-weight: 500;
    padding-bottom: 0.1%;
}

label{
    font-weight: 500;
    font-size: 0.8rem;
}

#inputs{
    display: inherit;
    flex-direction: column;
    gap: 1vh;
}

input{
    box-sizing: border-box;
    height: 6vh;
    width: 100%;
    border-radius: 5px;
    border: #3c3c3c solid 0.01vh;
    background-color: var(--gray-color);
    font-family: "Spline Sans";
    font-weight: 500;
}

input[type="email"]{
    font-size: 2.7vh;
    padding-left: 3%;
    color: var(--shadow-color);
}

input[type="password"]{
    font-size: 2.7vh;
    padding-left: 2.5%;
    color: var(--shadow-color);
}

input[type="tel"]{
    font-size: 2.7vh;
    padding-left: 1.7vh;
    color: var(--shadow-color);
}
input[type="number"]{
    font-size: 2.7vh;
    padding-left: 0.7vw;
    color: var(--shadow-color);
}

input[type="text"]{
    font-size: 2.7vh;
    padding-left: 2.5%;
    color: var(--shadow-color);
}


/* MIDDLE DIV */

#form_div{
    display: inherit;
    flex-direction: row;
    align-items: center;
    column-gap: 2vw;
}

#div_tel{
    display: inherit;   
    flex-direction: column;
    width: 70%;
    gap: 1vh;
}

#telephone{
    width: 100%;
    height: 6vh;
}

#div_age{
    width: 20%;
    display: inherit;
    flex-direction: column;
    gap: 1vh;
}

#age{
    width: 120%;
    height: 6vh;
}

/* BUTTON */

button{
    background-color: var(--second-color);
    width: 45%;
    height: 8vh;
    display: inherit;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    font-weight: 600;
    align-self: center;
    border: var(--shadow-color) solid 0.01vh;
    border-radius: 10px;
    font-family: "Spline Sans";
    color: var(--main-color);
    box-shadow: var(--shadow-color) -2px 3px 0px ;
}

button:hover{
    transform: translateY(-3px);
    box-shadow: var(--shadow-color) -2px 6px 1px;
    transition: ease-in-out 0.1s;
    background-color: var(--third-color);
    color: var(--shadow-color);
}

button:active{
    transform: translateY(4px);
    box-shadow: var(--shadow-color) 0px 0px 1px;
    background-color: var(--fourth-color);
    color: var(--main-color);
}

#login_access{
    font-size: 2.4vh;
    font-weight: 400;
    display: flex;
    align-self: center;
    column-gap: 1vh;
}

a{
    text-decoration-line: none;
    color: var(--second-color);
    font-weight: 500;
}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: row;
    height: 10vh;     
    padding-left: 3%;
    justify-content: space-between;

}

#copy_footer{
    display: inherit;
    column-gap: 2vh;
}

#strip_footer{
    width: 30%;
    height: 1.2vh;
    background-image: linear-gradient(to right, #0040F0, #F44DA9, #FCBD03);
}