@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root{
    --main-color: #f9f9f9;
    --second-color: #41A7F5;
    --third-color: #FCDB03;
    --fourth-color: #F44DA9;
    --gradient-color: linear-gradient(90deg, #F44DA9,#FCDB03);
    --shadow-color: #1e1e1e;
    --gray-color: #e5e5e5;
    --second-gray-color: #D9D9D9;
}

body{
    background-color: var(--main-color);
    margin: 0%;
    font-family: "Spline Sans";
}

a{
    text-decoration-line: none;
}

/*NAV*/

nav{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.7%;
}

/*STRIPS NAV*/

.strip_grad{
    width: 30vh;
    height: 3vw;
    background-image: var(--gradient-color);
}

/*HEADER*/

header{
    padding-top: 1%;
    padding-left: 4%;
    padding-bottom: 1%;
       width: 5.2vw;
    height: auto;
    /* background-color: cyan; */
    /* height: 12vh; */
} 

main{
    width: 100%;
    height: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

h1{
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--main-color);
    -webkit-text-stroke: var(--shadow-color) 0.09vh;
    text-shadow: var(--shadow-color) -2px 2px 0px;
}

section{
    width: 60%;
    height: auto;
    padding: 2vh;
    background-color: var(--gray-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

article{
    width: 99%;
    height: 45vh;
    background-color: var(--main-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

aside{
    width: 55%;
    height: 40vh;
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

#percentage_bar{
    width: 25%;
    height: 25vh;
    background-color: var(--main-color);
    border: var(--shadow-color) solid 0.1vh;
    box-shadow: var(--second-gray-color) 0px 0px 0px 12px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 3vh;
    margin-bottom: 6%;
    padding: 1vh;
}

#results_questions{
    display: block;
    background-color: var(--second-gray-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 10px;
    width: 25vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

#text_quest{
    /* background-color: var(--main-color); */
    padding: 1vh;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */

}

#result_quest{
    background-color: var(--main-color);
    width: 6vw;
    height: 5vh;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

#results_hits{
    display: block;
    background-color: var(--second-gray-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 10px;
    width: 25vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

#text_hit{
    padding: 1vh;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

#result_hit{
    background-color: var(--main-color);
    /* border: var(--shadow-color) solid 0.1vh; */
    border-radius: 10px;
    width: 6vw;
    height: 5vh;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

#condition_border_out{
    width: 20vw;
    height: 8vh;
    background-color: var(--gray-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#result_condition{
    width: 95%;
    height: 80%;
    background-color: var(--main-color);
    border: var(--shadow-color)solid 0.1vh;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 700;
}

#title_use{
    display: block;
    width: 90%;
    height: 6vh;
    background-color: var(--second-color);
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    font-size: 1.3rem;
    font-weight: 500;
}

#progress_bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

progress{
    overflow-y: auto;
    height: 4vh;
    width: 12vw;
    border: var(--shadow-color) 0.01vh solid;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 8px var(--second-gray-color);
}

progress[value]::-webkit-progress-value{
    background-color: var(--second-color);
    border-right:0.01vh solid var(--shadow-color) ;
    border-radius: 4px;
}

progress::-webkit-progress-bar{
    background-color:var(--main-color);
}

#number_progress{
    padding: 1vh;
    border: var(--shadow-color) solid 0.1vh;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 500;
}

button{
    width: 10vw;
    height: 8vh;
    border: var(--shadow-color) solid 0.1vh;
    background-color: var(--second-color);
    color: var(--main-color);
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    box-shadow: var(--shadow-color) 0px 3px 0px -1px;
}

button:hover{
    transform: translateY(-3px);
    box-shadow: var(--shadow-color) 0px 5px 0px 0px;
}

button:active{
    transform: translateY(0px);
    box-shadow: var(--shadow-color) 0px 0px 0px 0px;
}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: row;
    height: 10vh;     
    padding-left: 3%;
    justify-content: space-between;
    }

#copy_footer{
    display: inherit;
    column-gap: 2vh;
}

#strip_footer{
    width: 30%;
    height: 1.2vh;
    background-image: var(--gradient-color);
}

